.heading{
    background-color: white;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 72px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}

@media (max-width:1440px) {
    .name{
        width: 340px;
        height: 50px;
        background-color:#4aaaa5;
        color: white;
        border:1px solid #dddddd;
        position: absolute;
        top: 2px;
        left: 16.5%;
        text-align: center;  
        line-height: 50px;
    }
}

@media (max-width:660px) {
    .name{
        width: 100%;
        height: 50px;
        background-color:#4aaaa5;
        color: white;
        border:1px solid #dddddd;
        position: absolute;
        top: -30%;
        left: 0;
        text-align: center;  
        line-height: 50px;
    }
}

@media (max-width:1440px) {
    span{
        position: fixed;
        left: 73%;
        top: 2%;
        font-family: Arial, 'Helvetica Neue', sans-serif;
    }
}

@media (max-width:660px) {
    span{
        position: absolute;
        text-align: center;
        left: 0;
        top: 65%;
        font-family: Arial, 'Helvetica Neue', sans-serif;
    }
}

@media (max-width:1440px) {
    .container{ 
        background-color:#ffffff;
        width:67%;
        border:1px solid #dddddd;
        padding:10px;
        margin: 16.5%;
        margin-top: 100px;
        text-align:left;
    }
}

@media (max-width:768px) {
    .container{ 
        background-color:#ffffff;
        width:91%;
        border:1px solid #dddddd;
        padding:10px;
        margin-left: 1.5%;
        margin-right: 2.5%;
        margin-top: 100px;
        text-align:left;
    }
}

@media (max-width:640px) {
    .container{ 
        background-color:#ffffff;
        width:91%;
        border:1px solid #dddddd;
        padding:10px;
        margin-left: 1.5%;
        margin-right: 2.5%;
        margin-top: 100px;
        text-align:left;
    }
}

@media (max-width:1440px) {
    #image{
        float:left;
        margin: 10px;
    }
}

@media (max-width:640px) {
        #image{
            float: none;
            margin: 10px;
        }
    }

.aboutme{
    margin-bottom: 10px;
    color:#4aaaa5;
    border-bottom: 3px solid #cccccc;
    padding: 10px;
    text-align: left;
    height: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
}

.background{
    background-image:url("../images/cork-wallet/cork-wallet.png");
    background-size: cover;
}

footer{
    height: 50px;
    width: 100%;
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    font-family: Arial, 'Helvetica Neue', sans-serif;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    color: white;
    position: fixed;
    bottom: 0;
    left:0;
}

.button1{
    border: none;
    background: none;
    color: #777777;
}

.button2{
    border: none;
    background: none;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
    color: #777777;
}

.button3{
    border: none;
    background: none;
    color: #777777;
}

